/* Mantiene el diseño centrado */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #011a29;
    margin: 0;
}

/* Estilos del icono en la parte inferior izquierda */
.icono {
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 30px;
    color: #ff007f; /* Rosa neón brillante */
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

/* Efecto al pasar el cursor */
.icono:hover {
    color: #ff1493; /* Un rosa aún más vibrante */
}

/* Estilos para el icono */
.fa-solid {
    color: #ff007f; /* Rosa neón */
    font-size: 50px;
    margin: 30px;
    text-shadow: 0 0 10px #ff007f, 0 0 20px #ff1493; /* Efecto de brillo */
}
